<<<<<<< HEAD
<span style='color: #000'>76 frames</span>	<span style='color: #900'>4,352 KB</span>	<span style='color: #090'>377.80 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />
=======
<span style='color: #000'>148 frames</span>	<span style='color: #900'>6,400 KB</span>	<span style='color: #090'>956.44 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />
>>>>>>> origin/master
